
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ff4d4d;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-gap: 100px;
  grid-template-columns: fit-content(50%);
  grid-column-gap: 10px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: white;
  font-size: 62px;
  margin: 2% 0 2% 0;
}

.dice-container {
  grid-column: 3 / 7;
  grid-row: 1;
}

.dice {margin-left: 11px;}

#dice-0 {margin-left: 5px;}

img {
  height: 150px;
  border-radius: 25px;
}

.table-1 {
  grid-column: 3 / 4;
  grid-row: 3;
}

.table-2 {
  grid-column: 5 / 6;
  grid-row: 3;
}

table {
  border-collapse: collapse;
  border: 3px solid rgb(255, 128, 128);
  width: 350px;
  height: 300px;
}

th {
  border-collapse: collapse;
  border: 3px solid rgb(255, 128, 128);
  background-color: #ff9999;
  font-size: 20px;
  text-align: center;
  color: #cc0000;
  width: 100%;
}

td {
  border-collapse: collapse;
  border: 3px solid rgb(255, 128, 128);
  background-color: #ff9999;
  color: #ff0000;
  font-size: 18px;
  text-align: center;
  width: 100%;
}

td:hover {background-color: #ffcccc;}

.button-container {
  grid-column: 4;
  grid-row: 2;
}

button {
  height: 80px;
  width: 200px;
  background-color: #ff9999;
  color: #ffffff;
  border: 4px solid #ff8080;
  border-radius: 20px;
  font-size: 20px;
}

button:hover {
  background-color: #ffcccc;
  color: #ff6666;
}
