/* TODO: Yahtzee Elements are not centered in Google Chrome on OSx */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #ff4d4d;
  min-height: 100%;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  margin-top: 20px;
}

.dice-container {
  position: absolute;
  width: 810px;
  margin: 0 auto;
  left: 8%;
}

.dice {
  display: block;
  position: absolute;
}

#dice-0 {left: 10px;}
#dice-1 {left: 170px;}
#dice-2 {left: 330px;}
#dice-3 {left: 490px;}
#dice-4 {left: 650px;}

img {
  height: 150px;
  width: 150px;
  border-radius: 25px;
}

table {
  border-collapse: collapse;
  border: 3px solid rgb(255, 128, 128);
  width: 300px;
  height: 300px;

}

th {
  border-collapse: collapse;
  border: 3px solid rgb(255, 128, 128);
  background-color: #ff9999;
  font-size: 20px;
  color: #cc0000;
  width: 100px;
}

td {
  border-collapse: collapse;
  border: 3px solid rgb(255, 128, 128);
  background-color: #ff9999;
  color: #ff0000;
  font-size: 18px;
  text-align: center;
  width: 100px;
}

td:hover {
  background-color: #ffcccc;
}

.table-1 {
  position: absolute;
  top: 400px;
}

.table-2 {
  position: absolute;
  top: 400px;
  left: 507px;
}

button {
  top: 255px;
  left: 305px;
  height: 80px;
  width: 200px;
  position: absolute;
  background-color: #ff9999;
  color: #ffffff;
  border: 4px solid #ff8080;
  border-radius: 20px;
  font-size: 20px;
}

button:hover {
  background-color: #ffcccc;
  color: #ff6666;
}

@media (max-width: 768px) {

}
